@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Bree+Serif&display=swap');

$secondary-font: 'Bree Serif', serif;
$primary-font: 'Alegreya', serif;

$olivine: hsla(92, 33%, 56%, 1);
$buff: hsla(50, 83%, 74%, 1);
$sandy-brown: hsla(28, 88%, 65%, 1);
$wintergreen-dream: hsla(160, 22%, 46%, 1);
$bittersweet-shimmer: hsla(357, 46%, 52%, 1);

$custom-primary: $wintergreen-dream;
$custom-primary-light: adjust-color($custom-primary, $lightness: 20%);
$custom-primary-lighter: adjust-color($custom-primary, $lightness: 40%);
$custom-secondary: adjust-color($custom-primary, $lightness:-10%);
$custom-info: $sandy-brown;
$custom-warning: $buff;
$custom-danger: $bittersweet-shimmer;
$custom-success: $olivine;
$custom-light: adjust-color($wintergreen-dream, $lightness: 35%);
$custom-dark: adjust-color($custom-primary, $lightness: -50%);
$custom-shadow: adjust-color($custom-secondary, $lightness: -80%, $alpha: -.7);

$font-color-display: adjust-color($custom-primary, $lightness: 70%);
$font-color-display-accent: adjust-color($custom-primary, $lightness: 40%);

$plus-button-z: 20;
$contact-delete-popover-z: 30;
$navbar-z: 40;
$hamburger-z: 60;
$alert-z: 100;