@use '../../../scss/contax_variables.scss' as *;

#user-auth-form {
    background-color: $custom-primary;

    border-radius: 10px;

    input {
        // border: 1px solid $lighter-copper;
    }

    #forgot-password {
        color: $font-color-display-accent;
    }

    .form-control,
    .form-label,
    .form-link {
        width: 100%;
        font-family: $secondary-font;
    }
    .form-label {
        color: $font-color-display;
    }

    #submit-button {
        $font-family: $secondary-font;
    }
}
