@use '../../scss/contax_variables.scss' as *;

#homepage-content {
  // border-top-right-radius: 50%;
  #hero {
    background-image: url(../../assets/images/desk-bg.jpg);
    height: 80vh;
    font-family: $secondary-font;
    background-size: cover;
    background-position-x: 75%;
    background-repeat: no-repeat;

    #hero-content {
      background: adjust-color($custom-warning, $alpha: -0.8);
      height: 100%;
    //   width: 100%;

      #hero-card {
        background-color: adjust-color($custom-primary, $alpha: -0.1);
        border-radius: 10px;

        h1 {
          color: $font-color-display;
        }
        p {
          color: $font-color-display-accent;
        }
      }
    }
  }

  #right-column {
    height: 15vh;
    // border-top-left-radius: 50%;
  }

  @media screen and (min-width: 992px) {
    #hero {
      background-position: -50% 50%;
    }
  }
}
