@use '../../../scss/contax_variables' as *;

.delete-contact-popover {
  background-color: $custom-light;

  z-index: $contact-delete-popover-z;

  .delete-contact-popover-header {

    color: $custom-secondary;
    font-family: $secondary-font;
    font-size: 3rem;
  }

  .delete-contact-popover-body {
    
    .delete-confirm-icon {
        font-size: 7rem;
        color: $custom-success;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: adjust-color($custom-success, $lightness: 10%);
        }
    }
    
    .delete-cancel-icon {
        font-size: 7rem;
      color: $custom-danger;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: adjust-color($custom-danger, $lightness: 10%);
      }
    }
  }


}
