@use '../../../scss/contax_variables.scss' as *;

.contact-item {
  background-color: $custom-secondary;
  color: $font-color-display;

  position: relative;
  transition: top 0.3s ease-in-out;

  

  .contact-body {
    background-color: $custom-primary;

    .crud-icon {
      font-size: 1.3rem;
    }

    .contact-avatar {
      font-size: 1.3rem;
      font-weight: bold;
      font-family: $secondary-font;
      height: 15vw;
      width: 15vw;
    }

    .field-icon {
      font-size: 2rem;
    }

    .contact-field {
      color: $font-color-display;
      font-size: 1rem;
      letter-spacing: 1px;
    }

    .name-field {
      font-size: 1.5rem;
      font-family: $secondary-font;
    }

    .edit-icon {
      color: $custom-light;

      &:hover {
        color: $custom-warning;
      }
    }

    .delete-icon {
      color: $custom-light;

      &:hover {
        color: $custom-danger;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .contact-body {
      font-size: 1.2rem;

      .contact-avatar {
        height: 7vw;
        width: 7vw;
      }

      #email-field {
        // font-size: 1.5rem;
      }
      #phone-field {
        // font-size: 1.5rem;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .contact-body {
      font-size: 1.2rem;

      .contact-avatar {
        height: 7vw;
        width: 7vw;
        font-size: 2.5rem;
      }

      .field-icon {
        font-size: 2rem;
      }

      .contact-field {
        font-size: 1.5rem;
      }

      .crud-icon {
        font-size: 2rem;
      }

      .name-field {
        font-size: 2rem;
      }
    }
  }
}
