@use '../../../scss/contax_variables.scss' as *;

#contact-form {
    background-color: $custom-secondary;


    #form-label {
      color: $font-color-display;
    }
    .field-label {
      color: $font-color-display-accent;
    }

  .form-group {
    background-color: $custom-primary;
  }

  .form-control {
    background-color: $custom-light;
    &:focus {
      border-color: $custom-primary;

    }
  }

  #first-name {
    
  }

  #last-name {
  }

  #birthday-field {
      background-color: $custom-primary;
  }

} 
