@use '../../../scss/contax_variables.scss' as *;

#contact-form {
  background-color: $custom-secondary;

  #form-label {
    color: $font-color-display;
    font-family: $secondary-font;
  }
  .field-label {
    color: $font-color-display-accent;
    font-family: $secondary-font;
  }

  .form-group {
    background-color: $custom-primary;
  }

  .form-control {
    background-color: $custom-light;
    &:focus {
      border-color: $custom-primary;
    }
  }

  .btn {
    font-family: $secondary-font;
  }

  .contact-avatar {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: $secondary-font;
    height: 15vw;
    width: 15vw;
  }

  #birthday-field {
    background-color: $custom-primary;
  }

  .note {
    word-wrap: break-word;
    min-height: 35px;
  }

  .crud-icon {
    color: $custom-secondary;
  }

  .close-form-icon {
      color: $custom-light;

      &:hover {
          color: $custom-primary;
          cursor: pointer;
      }
  }

  @media screen and (min-width: 768px) {
    .contact-avatar {
        height:7vw;
        width: 7vw;
    }
  }

  @media screen and (min-width: 992px) {
    .contact-avatar {
      font-weight: bold;
      font-family: $secondary-font;
      height: 5vw;
      width: 5vw;
    }
    .note {
      .crud-icon {
        font-size: 1.5rem;
      }
      .delete-icon,
      .cancel-icon {
        &:hover {
          color: $custom-danger;
        }
      }
      .edit-icon {
        &:hover {
          color: $custom-info;
        }
      }

      .save-icon {
        &:hover {
          color: $custom-success;
        }
      }
    }
  }
}
