@use './scss/contax_variables.scss' as *;

$theme-colors: (
    "primary": $custom-primary,
    "secondary": adjust-color($custom-primary, $lightness:-15%),
    "info": $custom-info,
    "warning": $custom-warning,
    "danger": $custom-danger,
    "success": $custom-success,
    "app": $custom-light,
    "light": $custom-light
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    font-family: $primary-font;
    font-weight: 300;

    background-color: $custom-light;
}

// .shadowed {
//     box-shadow: 0 0 10px $custom-shadow;
// }