@use './scss/contax_variables.scss' as *;

$theme-colors: (
    "primary": $custom-primary,
    "secondary": adjust-color($custom-primary, $lightness: -15%),
    "info": $custom-info,
    "warning": $custom-warning,
    "danger": $custom-danger,
    "success": $custom-success,
    "app": $custom-light,
    "light": $custom-light,
    "primary-light": $custom-primary-light,
    "primary-lighter": $custom-primary-lighter,
);

$form-check-input-bg: $custom-light;
$form-check-input-focus-border: $custom-info;
$form-check-input-checked-bg-color: $custom-info;
$form-check-input-checked-border-color: $custom-info;
$component-active-bg: $custom-info;

$popover-bg: $custom-secondary;
$popover-header-color: $font-color-display;

$headings-font-family: $secondary-font;

$nav-link-color: $font-color-display;
$nav-link-hover-color: $custom-info;

$dropdown-bg: $custom-secondary;
$dropdown-link-color: $font-color-display;
$dropdown-link-hover-color: $custom-secondary;
$dropdown-link-hover-bg: $custom-info;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: $primary-font;
    font-weight: 300;

}

.nav-toggle-icon {
    font-size: 1.5rem;
    z-index: $hamburger-z;
  }