@use '../../scss/contax_variables.scss' as *;

#nav-mobile {
  background-color: $custom-secondary;
  font-family: $secondary-font;
  height: 100%;
  width: 100%;
  z-index: $navbar-z;

  #nav-content {
    background-color: $custom-primary;

    #username-label {
      color: $font-color-display-accent;
    }
    #username-value {
      color: $font-color-display-accent;
      font-family: $primary-font;
      font-size: 1.5rem;
    }
  }

  #navbar-title {
    color: $font-color-display;
    font-size: 3rem;
    text-decoration: none;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $custom-info;
    }
  }

  .nav-link {
    font-size: 2rem;
  }
  .text-right {
    text-align: right;
  }

  .contact-avatar {
    height: 20vw;
    width: 20vw;

    color: $custom-secondary;
    font-size: 2rem;
  }
}
