@use '../../scss/contax_variables.scss' as *;

#plus-button {
    color: $custom-info;
    background-color: $custom-secondary;
    border: 2px solid $custom-info;
    border-radius: 50%;
    bottom: 2.5rem;
    right: 2rem;
  
    z-index: $plus-button-z;
    
    &:hover {
        cursor: pointer;
    }

    svg {
      padding: .25rem;
      height: 3rem;
      width: 3rem;
    }
  }